.input {
  background-color: #fcf1f1;
  border: 1px solid #D97471;
  border-radius: 4px;
  box-shadow: #cc3f3f 4px 4px 0 0, #cc3f3f 4px 4px 0 1px;
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: black;
  margin: 0 10px 10px 10px;
  width: 180px;
  height: 40px;
  text-align: center;
}