.button {
    background-color: #D97471;
    border: 1px solid #D97471;
    border-radius: 4px;
    box-shadow: #cc3f3f 4px 4px 0 0, #cc3f3f 4px 4px 0 1px;
    font-family: "Athiti", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    width: 180px;
    height: 40px;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s;

    &:hover {
        box-shadow: #cc3f3f 2px 2px 0 0, #cc3f3f 2px 2px 0 1px;
        transform: translate(2px, 2px);
    }

    &:not([disabled]):active {
        box-shadow: #cc3f3f 2px 2px 0 0, #cc3f3f 2px 2px 0 1px;
        transform: translate(2px, 2px);
    }
}